:root {
  --sky-blue: #87CEEB;
  --sun-yellow: #FFD700;
  --stormy-gray: #a6a3a3;
  --grass-green: #2e732e;
  --sunset-orange: #e8b14b;
  --deep-blue: #2828a2;
}

/* HEADER */
header {
  background-color: var(--deep-blue);
}

/* SIDE BAR */
.input-group {
  display: block;
  margin: 0px;
  width: 100%;
}

.weather-search {
  width: 100%;
}

.search-button {
  padding: 1%;
  margin: 3% 0;
  width: 100%;
  /* border-radius: 5px; */
  background-color: var(--deep-blue);
  color: white;
  /* Transition property: property duration timing-function delay */
  transition: white 0.5s ease-in-out;
}

.search-button:hover {
  /* Target color on hover */
  background-color: var(--sunset-orange);
  border-color: var(--sun-yellow)
}

.clear-search-button {
  padding: 1%;
  margin: 3% 0;
  width: 100%;
  background-color: var(--stormy-gray);
}

.clear-search-button:hover {
  background-color: var(--sunset-orange);
}

.error-message {
  color: red;
}

hr {
  margin-bottom: 0;
}

/* recent searches */
.recent-search-buttons button{
  display: block;
  margin: 2% 0;
  padding: 2% 0;
  width: 100%;
  border-radius: 3px;
  border-color: transparent;
  background-color: var(--grass-green);
}

.recent-search-buttons button:hover {
  background-color: var(--sunset-orange);
}

/* JUMBOTRON */
.jumbotron {
  padding: 4% 0;
  background-color: transparent;
  border-top: solid 5px var(--sky-blue);
  border-radius: 0;
}

h2 {
  margin: 1.5% ;
  display: flex;
  align-items: end;
  height: 90px; 
  line-height: normal;
}

.weatherIcon {
  margin: 0 1% ;
}

/* CURRENT DAY SECTION */
.currentWeather {
  padding: 0px;
  list-style-type: none;
}

/* FORECAST SECTION */
#forecast h4 {
  padding: 0;
  margin: 0;
}
.weather-cards {
  display: flex;
  justify-content: space-around;
}

.card {
  flex: 0 0 auto;
  margin: 1rem 0;
  padding: 0 1rem;
}

.card-body {
  padding: 0px;
  padding-top: 2%;
}

.card-body ul {
  font-size: small;
}

.forecastWeather {
  padding: 0px;
  list-style-type: none;
}



